# This file contains pin mappings for the stock 2020 Creality Ender 3
# MAX. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# Because this printer has factory wiring, mounts, and firmware for
# a BLTouch, but does not ship with one at this time, default values
# for the sensor have been specified, but disabled, in anticipation of
# future revisions or user modification. User should take care to
# customize the offsets, particularly z-offset, for their specific unit.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
microsteps: 16
rotation_distance: 40
endstop_pin: ^gpio4
position_endstop: 0
position_max: 300
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: gpio6
dir_pin: !gpio5
enable_pin: !gpio7
microsteps: 16
rotation_distance: 40
endstop_pin: ^gpio3
position_endstop: 0
position_max: 300
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: gpio19
dir_pin: gpio28
enable_pin: !gpio2
microsteps: 16
rotation_distance: 8
#position_endstop: 0.0                     # disable to use BLTouch
#endstop_pin: ^PA7                         # disable to use BLTouch
endstop_pin: probe:z_virtual_endstop    # enable to use BLTouch
position_min: -5                        # enable to use BLTouch
position_max: 340

 [safe_z_home]                         # enable for BLTouch
 home_xy_position: 150, 150
 speed: 100
 z_hop: 10
 z_hop_speed: 5

 [bltouch]                             # enable for BLTouch - fast-mode
 sensor_pin: gpio22
 control_pin: gpio29
 pin_up_touch_mode_reports_triggered: True
 probe_with_touch_mode: True
 x_offset: 50                          # modify as needed for bltouch location
 y_offset: -6                          # modify as needed for bltouch location
 z_offset: -4.4                         # modify as needed for bltouch or run PROBE_CALIBRATE
 speed: 10
 samples: 3
 sample_retract_dist: 5.0              # Can be set lower, example 2.5 depending on height of bltouch from bed
 lift_speed: 40
 samples_tolerance_retries: 3
 speed: 10
 samples: 2

 [bed_mesh]                            # enable for BLTouch
 speed: 300
 mesh_min: 50, 0
 mesh_max: 290, 290
 algorithm: bicubic
 probe_count: 7,7                      # 49 points due to large bed size
 horizontal_move_z: 5


 [gcode_macro G29]                    # If moving from marlin to klipper uncomment to mimic G29
 gcode:
  BED_MESH_CALIBRATE
  G1 X0 Y0 Z10 F4000

[extruder]
max_extrude_only_distance: 100.0
step_pin: gpio14
dir_pin: !gpio13
enable_pin: !gpio15
microsteps: 16
rotation_distance: 7.710843373493976           # Calibrate - see https://www.klipper3d.org/Rotation_Distance.html
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: gpio23
sensor_type: ATC Semitec 104GT-2
sensor_pin: gpio27
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 275
pressure_advance: 0.0               # Calibrate - see https://www.klipper3d.org/Pressure_Advance.html
max_extrude_only_distance: 100.0 # for filament change

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

[heater_bed]
heater_pin: gpio21
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio26
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: gpio17

[filament_switch_sensor runout_sensor]
switch_pin: ^gpio16

[mcu]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00    # Run ls /dev/serial/by-id/* for micro-controller name
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[pause_resume]
recover_velocity: 50 #allows pause resume functionality.

#filament runout sensor
[filament_switch_sensor filament_sensor]
switch_pin:^gpio16
pause_on_runout: false #pause handled by macro
runout_gcode:
  M600 #calls a macro with the name M600 (so it can be called by slicers too)
insert_gcode:
  M117 Filament inserted #just a throwaway GCode command to have something in this space. You can add your own.
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
event_delay: 3.0
pause_delay: 0.0001

#Below Macro with credit to Hywel Martin #https://github.com/KevinOConnor/klipper/issues/1354
[gcode_macro PARK_MACRO]
default_parameter_X: 0
default_parameter_Y: 0
default_parameter_Z: 30
gcode:
  M117 PARKING..
  G91
  G1 E-3.14 F1500
  G1 Z{Z}
  G90
G1 X{X} Y{Y} F3000

[gcode_macro UNLOAD]
gcode:
  G91
  G1 E5.0 F1200
  G1 E3.0 F1600
  G1 E-13.14 F7000
  G1 E-100 F3000 #This is a partial unload for the E5, but you need to adjust the default setting for max extrusion from 50

G90
[gcode_macro M600]
gcode:
  PAUSE_MACRO
  UNLOAD

[gcode_macro PAUSE_MACRO]
gcode:
  PAUSE
  PARK_MACRO
  SET_IDLE_TIMEOUT TIMEOUT=7200

[gcode_macro PURGE]
gcode:
  M117 PURGING..
  G91
  G1 E45.0 F250
  G90

[gcode_macro LOAD_FILAMENT]
gcode:
  M117  LOADING...
  G91
  G1 E25.0 F1000
  G1 E100 F2500
  G4 P900
  G1 E45.0 F250
  G90

[gcode_macro RESUME_MACRO]
gcode:
  M117  RESUMING...
  RESUME

#[display]
#lcd_type: st7920
#cs_pin: PB12
#sclk_pin: PB13
#sid_pin: PB15
#encoder_pins: ^PB14, ^PB10
#click_pin: ^!PB2

#[neopixel board_neopixel]    #/ enable this for RGB lights from board PICO V1.0
#pin: gpio24
#chain_count: 1
#color_order: GRB
#initial_RED: 0.3
#initial_GREEN: 0.3
#initial_BLUE: 0.3